// Color Variables
$color-grey-dark: #4e4b4b; //Dark grey
$color-grey-light: #b9b9b9; //Light grey

$color-green-light:#12da99;//light green
$color-green-dark:#05bf47;

$color-black:#0000;
$color-white:#ffff;
$color-white-cream: #d1dcdc;

$color-blue-dark:#0d33ccf0;
